/*html{background-color:#cd2903;}*/
.loginWrap{background:#cd2903 url(../../images/festival/spring/loginBg.jpg) no-repeat center;background-size:100% 100%;}
.layout-panel-north{background:#00277C url(../../images/festival/spring/headerbg.png) no-repeat 0 0;}
div.mainnav{background-image:url(../../images/festival/spring/index_d2_bg.png);}
.subnavBox{background:url(../../images/festival/spring/lantern.png) no-repeat 100% 0;}