/* easyui repair */
.textbox{border-radius:1px;vertical-align: top;line-height:24px;}
.textbox .textbox-text,.textbox .textbox-text:focus{
height:24px!important;padding-right:0;
background-color:#fff;border:0;
box-shadow:0 0 0 #fff;-webkit-box-shadow:0 0 0 #fff;-moz-box-shadow:0 0 0 #fff;
}
.panel{border:0;}
.panel-header, .panel-body{border:0;}
.calendar-menu-next{margin-left: 0;}
.calendar-menu-prev{margin-right: 0;}

.tabs-header{padding-top: 0;}
.tabs-p-tool a:hover,
.tabs li a:hover.tabs-close,
.tabs-scroller-over {
  background-color: #e2e2e2;
}
.tabs{height:32px!important;border-bottom:1px solid #A7B6CF;border-top:1px solid #A7B6CF;padding-left: 0;background-color:#D5E1F5;overflow: hidden;}
.tabs li{margin:0;border-right: 1px solid #c0c9d7;line-height:32px;}
.tabs li .tabs-inner,.tabs li a.tabs-inner{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;height:32px!important;line-height:32px;padding: 0 25px;background:#D5E1F5;border-bottom:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:0;padding:0 20px;font-weight: bold;color:#000;cursor:hand;cursor:pointer;}
.tabs li .tabs-inner:hover,.tabs li a.tabs-inner:hover{background-color:#b8d7fb;}
.tabs li.tabs-selected a.tabs-inner{}
.tabs li a.tabs-close{margin-top: -12px;}
.tabs li.tabs-selected a.tabs-inner{}
.tabs li.tabs-selected .tabs-inner,.tabs li.tabs-selected .tabs-inner:hover,
.tabs li.tabs-selected a.tabs-inner,.tabs li.tabs-selected a.tabs-inner:hover{
position: relative;top:-1px;
height:34px!important;line-height:34px;
color: #fff;
background: #3977DE;
border:0;
/*border-bottom:1px solid var(--primary);*/
}
.tabs-with-icon{padding-left: 10px;}
.tabs-icon{top:55%;left:12px;}

.ul-userTree .tree-file{background:url(../images/easyui/i-user.png) no-repeat center;}
.ul-powerTree .tree-file{background:url(../images/easyui/i-key.png) no-repeat ;}
.combo-panel{border:1px solid #e5e5e5;}
.combo-arrow{border-left: 1px solid #e5e5e5;}

.menu{background-color:#f9f9f9;}
.menu-text{padding-left:30px;}
.menu-icon{line-height:16px!important;color:#1978cc;left:5px;}
.menu-active{border-radius:0;background-color:#cde0f9;border-color:#cde0f9;}

.combo-panel{border: 1px solid #ddd;border-top:0;-webkit-box-shadow:1px 1px 1px #ccc;box-shadow:1px 1px 1px #ccc;}
.tooltip{
background-color: #fdf7db!important;
border-color: #fbd396!important;
color: #000000!important;
}
.combo-panel .combobox-item{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;min-height:15px;}
.combobox-item-hidden{display:none!important;}
.txt-editable-readonly{background-color:transparent;border:0!important;}

/*.datagrid-header{background:#eaf4f9;}*/
.datagrid-header{background:#F1F3F9;}
.datagrid-view{border-top: 1px solid #ddd;background:url(../images/grid-line-bg2.png) 0 4px;}
.datagrid-header td.datagrid-header-over{background-color: #e1eaff;}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{border-color:#bec2d5;}
.panel-body{color:#000;}
.datagrid-htable, .datagrid-btable, .datagrid-ftable{color:#000;}
.datagrid-view {position: relative;overflow: hidden;}
.datagrid-body td, .datagrid-footer td{border-color:#E1E9F4;border-style: solid;}
.datagrid-body td.datagrid-td-merged{background-color: #fff;}
.datagrid-row{height:29px;background-color: #fff;}
.datagrid-row-alt{background-color: #FBFCFE;}
/*.datagrid-header td{border-color:#eee;}*/
.datagrid-cell,.datagrid-cell-group{height:28px!important;line-height:28px!important;padding:0 5px;}
.datagrid-header .datagrid-cell{height:32px!important;line-height:32px!important;font-weight: bold;color:#000;text-align: center!important;}
.datagrid-header .datagrid-cell-group{font-weight: bold;}
/*.datagrid-row-over,.tree-node-hover{background-color:#c6ffdd;color:#327ec2;}*/
.datagrid-row-over,.tree-node-hover{background-color: #d3e5ff;color:#3977DE;}
.datagrid-row-selected,.tree-node-selected{background-color:#FFF4DC;color:#CC2800;}
.pagination{background-color:#f6f9ff;}
.pagination .pagination-num{padding:0;height:22px;line-height:22px;width:3.2em;text-align:center;text-indent:0;}

.datagrid-view .datagrid-editable-input{height: 26px!important;}
.datagrid-view .textbox{height: 24px!important;vertical-align:top;}
.datagrid-view .textbox .textbox-text{height: 24px!important;}
.datagrid-view input[type="checkbox"].datagrid-editable-input{height:16px!important;}
.datagrid-group{border-bottom: 1px solid #E1E9F4!important;}

.datagrid-cell-hightlight{background-color:yellow;font-weight:bold;}

.tree-expanded {background: url(../images/easyui/tree_icons.png) no-repeat -18px 0px;}
.tree-folder {background: url(../images/easyui/tree_icons.png) no-repeat -208px 0;}
.tree-folder-open {background:url(../images/easyui/tree_icons.png) no-repeat -224px 0;}
.tree-file {background:url(../images/easyui/tree_icons.png) no-repeat -240px 0;}

.tree-diyIcon{background:none;font-weight:bold;color:var(--primary);font-size:14px;}
.color-red{color:#f16666;}
.color-green{color:#17ab31;}
.color-orange{color:#f1732d;}


.icon-treeFile-dis{color:#c00;background-image:none;font-size:13px;}
.icon-treeFile-dis:before{content:"\e6d1";position:relative;top:3px;left:1px;}

.datagrid-btable .tree-expanded{margin-top:3px;}
.datagrid-btable .tree-collapsed{margin-top:5px;}
.datagrid-btable .tree-folder{margin-top:3px;}
.datagrid-btable .tree-folder-open{margin-top:4px;}
.datagrid-btable .tree-title{margin-top:6px;}
.datagrid-btable .tree-checkbox{margin-top:6px;}


.datalist-lines .datagrid-row td .datagrid-cell-check{height:28px;line-height:28px;padding:2px 0;}

/* datebox */
.datebox .combo-arrow{background:url(../images/icon/inputmark.png) no-repeat -26px 0;width:23px!important;border-left: 0px;}
.calendar{font-family:Verdana,Arial,"Microsoft YaHei","SimSun";}
.calendar-title span{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.calendar-menu-month{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.calendar-header{background-color:#e2f1ff;border-bottom: 1px solid #fff;}
.calendar-saturday{color:#ee0077;}
.calendar-day{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:0;}
.calendar-selected{background-color:#f98e52;font-weight: bold;border:0;}
.calendar-nav-hover{font-weight: bold;}
.panel-htop{overflow: hidden;}
.panel-htop .combo-panel{}
.calendar-other-month{filter:alpha(opacity=40);opacity:0.4;}
.datebox-button a{font-weight: normal;}

.textbox input.validatebox-disabled,.textbox input[type="text"][disabled]{border:0;}
.textbox-readonly .textbox-text,.textbox-readonly .textbox-text:focus{background-color: #f3f3f3;color: #999;}

.calendar-disabled{background-color: #ddd;opacity: 0.4;}

.easyui-clearIcon{
font-family: 'soicon' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.easyui-clearIcon:before {content: "\e97a";}
.combo .easyui-clearIcon,.textbox .easyui-clearIcon{position: absolute;right:2px;top:0;line-height:24px;text-align: center;filter:alpha(opacity=0);opacity:0;z-index: 5;background-color:#fff;}
.combo .easyui-clearIcon{right:21px;}
.combo:hover .easyui-clearIcon,.textbox:hover .easyui-clearIcon{filter:alpha(opacity=90);opacity:0.9;}

/* combobox多选 */
.combobox-item{vertical-align:middle;cursor:hand;cursor:pointer;}
.combobox-item .s-multi{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.combobox-item .i-s-chk{margin-right:3px;position:relative;top:-2px;}
.combobox-item-selected .i-s-chk{background-position:0 -36px;}

.textbox-disabled, .textbox-label-disabled{filter:alpha(opacity=100);opacity:1;}