<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.service.biz.amcs.law.dao.LawFlowInstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.service.biz.amcs.law.entity.LawFlowInstance">
        <id column="ID" property="id" />
        <result column="FLOW_ID" property="flowId" />
        <result column="BIZ_ID" property="bizId" />
        <result column="BIZ_CODE" property="bizCode" />
        <result column="BIZ_TYPE" property="bizType" />
        <result column="BIZ_NAME" property="bizName" />
        <result column="PREV_NODE" property="prevNode" />
        <result column="CURRENT_NODE" property="currentNode" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="MODIFER" property="modifier" />
        <result column="MODIFY_DATE" property="modifyDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FLOW_ID, BIZ_ID, BIZ_CODE, BIZ_TYPE, BIZ_NAME, PREV_NODE, CURRENT_NODE, CREATOR, CREATE_DATE, MODIFER, MODIFY_DATE
    </sql>
</mapper>