<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.service.biz.amcs.law.dao.LawNodeInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.service.biz.amcs.law.entity.LawNodeInfo">
        <id column="ID" property="id" />
        <result column="NODE_CODE" property="nodeCode" />
        <result column="NODE_NAME" property="nodeName" />
        <result column="NODE_ORDER" property="nodeOrder" />
        <result column="NODE_DESC" property="nodeDesc" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_DATE" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NODE_CODE, NODE_NAME, NODE_ORDER, NODE_DESC, CREATOR, CREATE_DATE
    </sql>
</mapper>